body {
    margin: 0;
    padding: 0;
    background: #fff;
    font-family: serif;
    color: #111;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

/* 메인 컨테이너 내 컨텐츠 세로로 정렬 */
.container {
    width: 70vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 10vh; /* 100px → 7vh */
}

.navbar-left,
.navbar-right {
    flex: 1;
    display: flex;
    align-items: center;
}

.navbar-center {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5vw; /* 70px → 5vw */
}

.navbar-left {
    margin-left: 9vw; /* 130px → 9vw */
}

.logo {
    width: 9vw; /* 130px → 9vw */
    height: auto;
}

.nav-menu {
    display: flex;
    justify-content: center;
    gap: 2.7vw; /* 40px → 2.7vw */
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-menu li > a {
    font-size: 1.3rem; /* 20px → 1.3rem */
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.nav-menu li > a:hover {
    background: gray;
    border-radius: 0.5vw; /* 8px → 0.5vw */
}

/* 정렬을 위한 콘텐츠박스 */
.layout-content {
    display: flex;
    flex-direction: column;
    width: 70vw; /* 1000px → 65vw */
    height: 85vh; /* 580px → 38vh */
}

/* 메인 콘텐츠 */
.main-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70vw; /* 1000px → 65vw */
    height: 70vh; /* 600px → 40vh */
    margin-top: 6vh;
    gap: 6vw; /* 90px → 6vw */
}

/* 좌측 MBTI 이미지 크기 */
.main-content img {
    width: 29vw; /* 450px → 29vw */
    height: 29vw; /* 450px → 29vw */
    object-fit: contain;
}

.right-content {
    width: 29vw; /* 450px → 29vw */
    height: 29vw; /* 450px → 29vw */
    color: black;
    font-size: 2rem; /* 30px → 2rem */
    font-weight: bold;
}

.button-wrap {
    display: flex;
    justify-content: center;
    margin-bottom: 1.4vw; /* 20px → 1.4vw */
}

.btn-home {
    display: inline-block;
    background: black;
    color: white;
    padding: 0.35vw; /* 5px → 0.35vw */
    letter-spacing: 0.07em; /* 1px → 0.07em */
    border-radius: 0;
    font-size: 1.25rem; /* 20px → 1.25rem */
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    transition: background 0.2s ease;
}

.btn-home:hover {
    background: gray;
    color: white;
}
