body {
    margin: 0;
    padding: 0;
    background: #fff;
    font-family: serif;
    color: #111;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

/* 메인 컨테이너 내 컨텐츠 세로로 정렬 */
.container {
    width: 70vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* 네비게이션 바 */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh; /* 100px → 10vh */
}

/* 네비게이션 바 정렬 1:2:1 비율조정 */
.navbar-left,
.navbar-right {
    flex: 1;
    display: flex;
    align-items: center;
}

.navbar-center {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5vw; /* 70px → 5vw */
}

.navbar-left {
    margin-left: 9vw; /* 130px → 9vw */
}

/* 로고 이미지 크기 */
.logo {
    width: 9vw; /* 130px → 9vw */
    height: auto;
}

/* 네비게이션 메뉴 스타일 */
.nav-menu {
    display: flex;
    justify-content: center;
    gap: 2.7vw; /* 40px → 2.7vw */
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-menu li > a {
    font-size: 1.3rem; /* 20px → 1.3rem */
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.nav-menu li > a:hover {
    background: gray;
    border-radius: 0.5vw;
}

/*메인 콘텐츠 */
.main-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 78vw; /* 1200px → 78vw */
    height: 80vh; /* 600px → 40vh */
    gap: 4vw; /* 90px → 4vw */
    margin-top: 5vh;
}

/* 좌측 MBTI 이미지 크기 */
.main-content img {
    width: 30vw; /* 450px → 30vw */
    height: 70vh; /* 500px → 70vh */
    object-fit: cover;
    margin-right: 6.5vw; /* 100px → 6.5vw */
}

.right-content {
    width: 29vw; /* 450px → 29vw */
    height: 75vh; /* 550px → 75vh */
    color: black;
    font-size: 2rem; /* 30px → 2rem */
    font-weight: bold;
    margin-right: 6.5vw; /* 100px → 6.5vw */
}

.button-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.4vw; /* 20px → 1.4vw */
    margin-top: 7vh; /* 100px → 7vh */
    margin-right: 7.5vw;
    gap: 2vw; /* 30px → 2vw */
}

.btn {
    width: 20vw; /* 300px → 20vw */
    height: auto;
    text-decoration: none;
    display: inline-block;
    background: black;
    color: white;
    padding: 0.35vw;
    letter-spacing: 0.07em;
    border-radius: 0;
    font-size: 1.25rem; /* 20px → 1.25rem */
    cursor: pointer;
    text-align: center;
    transition: background 0.2s ease;
}

.btn:hover {
    background: gray;
    color: white;
}
