body {
    margin: 0;
    padding: 0;
    background: #fff;
    font-family: serif;
    color: #111;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center; /* container 가로 가운데 정렬 */
}

.container {
    width: 70vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0; /* 내부 위,아래 여백 0 왼쪽,오른쪽 여백 0*/
    height: 10vh; /* 100px -> 10vh */
}

.navbar-left,
.navbar-right {
    flex: 1;
    display: flex;
    align-items: center;
}

.navbar-center {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5vw; /* 70px -> 5vw */
}

.navbar-left {
    margin-left: 9vw; /* 130px -> 9vw */
}

.logo {
    width: 9vw; /* 130px -> 9vw */
    height: auto;
}

.nav-menu {
    display: flex;
    justify-content: center;
    gap: 2.7vw; /* 40px -> 2.7vw */
    list-style: none; /* 리스트 양식 없애기 */
    padding: 0;
    margin: 0;
}

.nav-menu li > a {
    font-size: 1.3rem; /* 20px -> 1.3rem */
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.nav-menu li > a:hover {
    background: gray;
    border-radius: 0.5vw; /* 8px -> 0.5vw */
}

.main-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80vw; /* 1150px -> 80vw */
    height: 40vw; /* 600px -> 40vw */
    gap: 6vw; /* 100px -> 6vw */
}

.main-content img {
    width: 28vw; /* 450px -> 28vw */
    height: 28vw; /* 450px -> 28vw */
    object-fit: contain;
}

.right-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 32vw; /* 500px -> 32vw */
    height: 27vw; /* 400px -> 27vw */
    margin-right: 3vw; /* 50px -> 3vw */
    color: black;
    font-size: 2rem; /* 30px -> 2rem */
    font-weight: bold;
}

.right-content label {
    padding: 0.7vw 0.7vw 0.7vw 0.7vw; /* 10px -> 0.7vw */
    color: black;
    font-size: 1.6rem; /* 25px -> 1.6rem */
    font-weight: bold;
    display: block;
    margin-bottom: 2vw; /* 30px -> 2vw */
    cursor: pointer;
}

.right-content label:hover {
    background: gray;
    color: black;
    border-radius: 0.5vw; /* 8px -> 0.5vw */
}

#quiz-form input[type="radio"] {
    display: none;
}

#quiz-form input[type="radio"]:checked + label {
    background: gray;
    color: black;
    border-radius: 0.5vw; /* 8px -> 0.5vw */
}

.button-wrap {
    display: flex;
    justify-content: center;
    gap: 2vw; /* 30px -> 2vw */
}

button {
    padding: 0.35vw; /* 5px -> 0.35vw */
    background-color: black;
    color: white;
    letter-spacing: 0.07em; /* 1px -> 0.07em */
    font-size: 1.25rem; /* 20px -> 1.25rem */
    border: none;
}

button:hover {
    color: #fff;
    background: gray;
}

button:disabled {
    background: #ddd;
    color: #aaa;
    opacity: 0.7; /* 투명도 조절 */
}
